body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/bg.jpeg');
}
.logo{
    font-family: 'Cinzel Decorative', serif;
}

header{
    background-color: rgb(174, 103, 103);
    color: rgb(238, 187, 187);
    padding: 10px;
    min-height: 80px;
    text-align: center;
    margin-bottom: 20px;
    box-sizing: border-box;
}

header h1{
    width: 60%;
    float: left;
}

nav {
    width: 20%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    background-color:  rgb(174, 103, 103);
    height: 100%;
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
}

nav h3,h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
}

nav img{
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
}

section {
    width: 80%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.giyim{
    width: 40%;
    text-align: center;
    float: right;
    padding-top: 30px;
}

a {
    text-decoration: none;
    color: #eebcf0;
    padding: 10px;
}

a:hover {
    color: rgb(210, 30, 207);
}


th, td {
    border: 1px solid #a46186;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #685798;
    color: #eb8adc;
}

.actions {
    text-align: right;
}

.actions button {
    margin-right: 10px;
    cursor: pointer;
}

#editForm, #addProductForm {
    display: none;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#editForm label, #addProductForm label {
    display: block;
    margin-bottom: 10px;
}

#editForm input, #addProductForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

#editForm button, #addProductForm button {
    background-color: #c515e1;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

#editForm button:hover, #addProductForm button:hover {
    background-color: #d24141;
}

.dashboard-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dashboard-item {
    background-color: rgb(122, 208, 134);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 23%;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
}

.dashboard-item h3 {
    margin-top: 0;
}

.bar-container {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    margin-top: 10px;
    position: relative;
}

.bar {
    height: 100%;
    max-width: 40%;
    background-color: #4caf50;
}
button{
    text-align: center;
    background: rgb(147, 195, 203);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 75%;
    margin-left: 36px;
    margin-bottom: 20px;
    

}
#ekle{
    display: none;
}

.form-table {
    border: #ffffff 1px solid;
    border-radius: 5px;
    background-color: #a4a261;
    width: 70%;
    border-collapse: collapse;

  }
  .form-table th, .form-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  .form-table th {
    background-color: #6da3bc;
  }
  .form-table td {
    background-color: #ffffff;
  }
  .form-table input, .form-table button {
    width: 95%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
  }
  .form-table button {
    background-color: #6ecf5b;
    color: white;
    border: none;
    cursor: pointer;
  }
  .form-table button:hover {
    background-color: #45a049;
  }

  /* Tablo stilini ayarla */
table {
    width: 75%; /* Tablonun genişliğini sayfanın %75'i yap */
    float: right;
    text-align: center;
    margin-right: 36px;
  }

  /* Tablo başlıklarını ve hücrelerini stilize et */
  th, td {
    text-align: center; /* Metni sola hizala */
    padding: 8px; /* İç boşluk ekle */
    border: rgb(221, 220, 220) 1px solid;
  }
  
  /* Çizgileri ve renkleri ayarla */
  tr:nth-child(even) {background-color: #f2f2f2;} 
  th {
    background-color: #4c8eaf;
    color: white; 
  }
  
.actions button.delete {
    background-color: #d24141;
}

.actions button.delete:hover {
    background-color: #a33131;
}
