/*Kutu Genişlikleri*/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/*hsl(356,39%,60%)*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
:root{
  --bg-black : rgb(31, 24, 24);
  --bg-blue  : blue;
  --bg-red   : red;
  --bg-white : white;
  --bg-gray  : gray;
  --bg-foot  : #ddd;

}

/*-----Header------*/

.container{
    padding: 20px 10%;
    margin: 0 auto;
}
.discount__panel{
    width: 100%;
    height: 5px;
    padding: 15px ;
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: var(--bg-white);
    font-size: smaller;
    font-weight: lighter;
}

.header__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.icons a, a:link{
   padding: 0 20px;
   text-decoration: none;
   color: #fff;
   
}
.icons i{
    color: var(--bg-black);
}

/* Genel stiller */
.icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Ana menü öğeleri */
  .icons > ul > li {
    position: relative;
    display: inline-block;
  }
  
.categories{
    background-color: var(--bg-black);
    color: black;
    padding: 10px;
    font-size: 1.05rem;
    font-weight: 500;
    height: 50px;

}

.categories ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ddd;
}

.categories ul li a:link,a:visited{
    color:rgb(255, 255, 255);
}
.categories ul li a:hover{
    color:rgb(125, 122, 126);
}

.nav__links {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
  }
  
  .nav__item {
    display: inline-block;
    position: relative;
    margin-right: 20px;
  }
  
  /* Ana menü linkleri */
  .nav__item > a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
  }
  
  
  /* Alt menüler */
  .nav__item ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav__item:hover ul {
    display: block;
    position:absolute;
  }
  
  .nav__item ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }

  /* İndirimli Ürünler linki */
  .nav__item:last-child a {
    color: var(--bg-red); /* İndirimli ürünler linkini özel bir renkle vurgula */
  }

  .nav__item:last-child a:hover{
    color: rgb(223, 23, 23);
  }

h1.logo{
    font-family: 'Cinzel Decorative', serif;
}

form.search {
    display: flex;
}
form.search input {
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    font-weight:lighter;
    box-sizing: border-box;
    padding: 0 10px;
    padding-bottom: 0;
    flex: 1;
    outline: 0;
    width: 400px;
}
form.search button {
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: var(--bg-white);
}

#search-results {
  display: none; /* Hidden by default */
  position: absolute;
  background-color: white;
  width: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 5px;
}

.results-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.result-item {
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
}

.result-item:last-child {
  border-bottom: none;
}

.result-item:hover {
  background-color: #f1f1f1;
}

section{
  overflow: auto;
}


ul {
  list-style-type: none;
}

li {
  display: inline-block;
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #fff; 
  border: none;
  cursor: pointer;
}

.dropbtn a {
  text-decoration: none;
  color: black; 
  display: flex;
  align-items: center;
}
#icon1 {
  margin-right: 8px; 
  font-size: 0.99rem;
}
#username {
  font-size: 1.2rem; 
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; 
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1; 
}

.dropdown:hover .dropdown-content {
  display: block;
}

/**/

.footer{
    width: 100%;
    background-color:var(--bg-foot);
    padding:  50px 0 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;

}

.footer a{
  text-decoration: none;
  color: black;
}

.footer p{
  margin-bottom: 5px;
  text-align: center;

}

.foot-baslik{
  margin-bottom: 10px;
  border-bottom: 1px;
  font-weight: bold;
  font-size: large;
  text-align: center;
  margin-top: 15px;
}

.footer .first-box{
  text-align: left;
  margin: 0px;
  font-weight: lighter;
  width: 15%;
}

@media screen and (max-width:850px) {
  .footer .first-box{
    width: 100%;
    text-align: center;
    margin: 5px;
  }
  form.search input{
    width: 100px;
  }
  .categories{
    height: 220px;
  }
  .nav__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}