.blink {
  width: 400px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  white-space: nowrap; 
  padding-left: 40%;
}

span {
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(221, 17, 17);
  margin: 0 10px;
  display: inline-block; 
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}

#menu{
  height: 908px;
}

[class*="col-"] {
  float: left;
  padding: 2px;
}

.col-3{
  width: 25%;
}
.col-6{
  width: 50%;
  height: 100%;
}

.col-12{
  width: 100%;
  height: 100%;
}

#resim1 a img{
  width: 100%;
  height: 908px;
  z-index: 1;
}

#resim2 a img{
  width: 100%;
  height: 908px;
  z-index: 1;
}

section{
  overflow: auto;
}