*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*-----Header------*/

.container{
    padding: 20px 10%;
}
.discount__panel{
    width: 100%;
    height: 5px;
    padding: 15px ;
    text-align: center;
    background-color: black;
    color: white;
    font-size: smaller;
    font-weight: lighter;
}

.header__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.icons a{
   padding: 0 20px;
   
}
.icons i{
    color: black;
}

.categories{
    background-color: antiquewhite;
    color: black;
    font-size: 1.05rem;
    font-weight: 500;
    height: 50px;

}

.categories ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.categories ul li a:link,a:visited{
    color:black;
}
.categories ul li a:hover{
    color:indigo;
}

h1.logo{
    font-family: 'Cinzel Decorative', serif;
}

form.search {
    display: flex;
}
form.search input {
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    font-weight:lighter;
    box-sizing: border-box;
    padding: 0 10px;
    padding-bottom: 0;
    flex: 1;
    outline: 0;
    width: 400px;
}
form.search button {
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: white;
}