body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.products {
    flex: 1;
    border-right: 2px solid #ccc;
    padding-right: 20px;     
}
.products h2{
    margin-bottom: 50px;
}
.order-summary {
    flex: 0.5;
    padding-left: 20px;
}
.product-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.product-item img {
    max-width: 100px;
    max-height: 100px;
}
.order-details {
    margin-top: 20px;
}
.order-details input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
.order-details button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}
.number-spinner {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.number-spinner button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
}

.number-spinner button:hover {
    background-color: #e0e0e0;
}

.number-spinner input {
    width: 50px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 18px;
}