:root{
    --detail-bg:rgb(175, 133, 133);
    --black-color:#011627;
    --pink-color:#f72585;
    --label-color:#00b4d8;
    --quantity-bg:#e8e8e8;
    --button-bg:#0077b6;
    --button-hover-bg:#00b4d8;
    --button-e-bg:rgba(255, 255,255, 0.1);
    --comment-bg:#ffffff;
    --add-comment-bg:#111;
    --add-comment-border:#444;
    --star-color:#fd4;
    --star-five-color:#fe7;
    --star-shadow: #952;
    --text-border:#333;
    --text-bg: #222;
    --text-color:#eee;
    --text-btn:#999;
    --text-btn-hover:#1b1b1b;
    --comment-box-bg: #eddede;
    --product-header-bg:bisque;
    --product-sell:orange;
}

.main-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main-wrap .s-product {
  width: 90%;
  max-width: 750px;
  display: flex;
}

.main-wrap .s-product .s-image {
  flex-basis: 43%;
  transform: scale(1.07);
}

.main-wrap .s-product .s-image img {
  width: 100%;
 
}

.main-wrap .s-product .s-product-details {
  flex-basis: 53%;
  background-color: var(--detail-bg);
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 40px 30px 40px 40px;
}

.main-wrap .s-product .s-product-details .details{
   margin-bottom:20px ; 
}

.main-wrap .s-product .s-product-details .details h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
  color: var(--black-color);
}

.main-wrap .s-product .s-product-details .details h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
  color: var(--black-color);
}

.main-wrap .s-product .s-product-details .details h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--pink-color)
}

.main-wrap .s-product .s-product-details .details p{
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    color: var(--black-color);
}

.main-wrap .s-product .s-product-details .sizes{
margin-bottom:20px;

}


.main-wrap .s-product .s-product-details .sizes .form .select-size {
    display: flex;
    align-items: center;
}

.main-wrap .s-product .s-product-details .sizes .form .select-size h3{
    width :70px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 600;
    color: var(--black-color);

}

.main-wrap .s-product .s-product-details .sizes .form .select-size label{
    display: flex;
    align-items: center;

}
.main-wrap .s-product .s-product-details .sizes .form .select-size label input{
    display: none;
}

.main-wrap .s-product .s-product-details .sizes .form .select-size label span{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: var(--black-color);
    display: inline-block;
    margin-right:10px;
    cursor: pointer;

}

.main-wrap .s-product .s-product-details .sizes .form .select-size label input:checked + span{
    font-weight: 600;
    color: var(--label-color)
    
}

.main-wrap .s-product .s-product-details .quantity {
    margin-bottom: 40px;

}

.main-wrap .s-product .s-product-details .quantity .select-quantity{
    display: flex;
    align-items: center;

}
.main-wrap .s-product .s-product-details .quantity .select-quantity h3{
    width: 70px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
    color: var(--black-color);

}

.main-wrap .s-product .s-product-details .quantity .select-quantity input{
    background-color: var(--quantity-bg);
    border: 0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    border-radius: 12px;
    width: 50px;
}

.main-wrap .s-product .s-product-details .sub-btn{
    padding: 0 30px;

}

.main-wrap .s-product .s-product-details .sub-btn .submit{
    width: 100%;
    padding: 10px;
    border: 0;
    outline: 0;
    background: var(--button-bg);
    color:var(--black-color);
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(58, 63, 240, 0.25);
    cursor: pointer;
    transition: .4s linear  ;
    position: relative;
    overflow: hidden;
}

.main-wrap .s-product .s-product-details .sub-btn .submit.submit:hover{
    background: var(--button-hover-bg);
}

.main-wrap .s-product .s-product-details .sub-btn .submit.submit::before {
    content: '';
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--button-e-bg);
    transform: rotate(-45deg);
}
.main-wrap .s-product .s-product-details .sub-btn .submit.submit:hover::before{
    animation: light .4s linear forwards;
}

@keyframes light {
    0%   { left: -100%;}
    100% {left:  100%;}
}



/*comment section*/
.comments {
    height: auto;
    position: relative;
    border: 1px solid black;
    margin:3rem 20rem;
    display: flex;
    flex-direction: column;  
}
.comments .comment-header{
    width: 100%;
    height: 100%;
    background: var(--comment-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.comments .comment-header h3{
   text-transform: uppercase;
  padding-right: 60px;
}
.comments .comment-header button{
    width: 100px;
    padding: 10px;
    border: 0;
    outline: 0;
    background: var(--button-bg);
    color: var(--black-color);
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(58, 63, 240, 0.25);
    cursor: pointer;
    transition: .4s linear  ;
    position: relative;
    overflow: hidden;
   
}
.comments .comment-body{
    width: 100%;
    height: 400px; 
    overflow: hidden;
}
.comments .comment-body .add-comment{
    position: absolute;
    top: 150px;
    left:206px;
    width: 400px;
    background: var(--add-comment-bg);
    padding: 20px 30px;
    border: 1px solid var(--add-comment-border);
    border-radius: 5px;
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.comments .comment-body  .hidden {
    display: none;
}
.comments .comment-body .add-comment .user_id,
.comments .comment-body .add-comment .urun_id {
    display: none;
}

.comments .comment-body .add-comment .star-widget input{
    display: none;

}

.comments .comment-body .add-comment .star-widget label{
    font-size: 40px;
    color: var(--add-comment-border);
    padding: 10px;
    float: right ;
    transition: all .2s ease;
}

.comments .comment-body .add-comment .star-widget 
input:not(:checked) ~ label:hover{
    color: var(--star-color);

}
.comments .comment-body .add-comment .star-widget  input:not(:checked) ~ label:hover ~ label{
   color: var(--star-color);
}

.comments .comment-body .add-comment .star-widget input:checked ~ label{
   color: var(--star-color);
}

input#rate-5:checked ~ label{
    color: var(--star-five-color);
    text-shadow: 0 0 20px var(--star-shadow);
}


.comments .comment-body .add-comment .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.comments .comment-body .add-comment .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid var(--text-border);
    background: var(--text-bg);
    padding: 10px;
    font-size: 17px;
    color: var(--text-color);
    resize: none;
}

.comments .comment-body .add-comment .btn{
    height: 48px;
    width: 100%;
    margin: 15px 0;
}
.comments .comment-body .add-comment .btn button{
    height:100%;
    width: 100%;
    margin: 15px 0;
    border: 1px solid var(--add-comment-border);
    outline: none;
    background: var(--text-bg);
    color: var(--text-btn);
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.comments .comment-body .add-comment .btn button:hover{
    background: var(--text-btn-hover);
}

.comments .comment-body .comment-box {
    height: auto;
    background:var(--comment-box-bg);
    padding: 5px;
    margin: 10px;
}
.comments .comment-body .comment-box .star{
     padding: 10px;
}
.comments .comment-body .comment-box .star i{
    color: var(--star-color);
    font-size: 20px;
   
}.comments .comment-body .comment-box .comment-detail {
    padding: 0 10px 10px;
}
.comments .comment-body .comment-box .comment-detail span{
    padding-right: 10px;
}
.comments .comment-body .comment-box p{
    padding: 0 10px 10px;
    font-size: 18px;
    font-weight: 500;

}
.comments  .more-comment{
    padding: 15px;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
}

.comments  .more-comment button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    
}

.more-comment {
    display: block;
}



.product-header h3{
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    background-color: var(--product-header-bg);
    padding: 30px;
  }
  .price small{
    text-decoration: line-through;
    color: var(--product-sell);
  }
  
  .products{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px; 
    flex-wrap: wrap;
  
  }
  .product{
    width: 19%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2 ease;
  }
  .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  }
  .product img{
    width: 100%;
    border-radius: 20px;
  }
  .product .description{
    text-align: start;
    padding: 10px 0;
  
  }
  .product .price{
    margin: 10px 0; 
  
  }
  .product input[class = "button"]{
    text-align: center;
    background: var(--border-color);
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }
  .product input[class = "button"]:hover{
    background-color: var(--border-color-hover);
  }
  .product input[class = "button"] a{
    color: black;
  }
  
  